# This file is used by pip to install required python packages
# Usage: pip install -r requirements.txt

# Flask Framework
Flask==1.0.2


# Flask Packages
Flask-Cors==3.0.7

#other packages
pandas==0.23.4
pandas-datareader==0.10.0
SQLAlchemy==1.2.15
